// Variables
$bg-color: #d8e3e9;
$link-color: #f47d31;
$base-color: #474b4e;
$logo-color: #0d0d0d;
$title-bg-color: #fff2cc;



// Placeholders
%didot {
    font-family: 'DidotDisplay', georgia, serif;
    font-weight: normal;
}
%abel {
    font-family: 'Abel', Helvetica, Helvetica Neue, Arial;
    font-weight: normal;
}



/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
input,
select,
textarea {
    color: $base-color;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: $bg-color url(../img/clouds.png) no-repeat 0 0;
    background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Designspeaks Styles ==================================================
   Author: Andrew Tibbs — http://andrewtibbs.org
   ========================================================================== */

body {
    @extend %didot;
    font-size: 16px;
    line-height: 21px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

a {
    color: $link-color;
    &:hover {
        color: darken($link-color, 10%);
    }
}

.title {
    color: $logo-color;
    text-transform: uppercase;
    font-style: italic;
    font-size: 105px;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
}

.section-title {
    text-align: center;
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 9px 0px;
    font-size: 1em;
    @extend %abel;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: $base-color;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        background: $title-bg-color;
        background: rgba(255,242,204, .77);
        display: block;
        padding: 20px 0px;
        -webkit-transform: skew(20deg); 
       -moz-transform: skew(20deg); 
       -o-transform: skew(20deg);
       transform: skew(20deg);
    }
}

a.button {
    color: white;
    background: $link-color;
    @extend %didot;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1em;
    padding: 13px 30px 10px;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    float: left;
    line-height: 1em;
    &:hover {
        background: darken($link-color, 10%);
    }
}

.top-btn {
    position: fixed;
    bottom: 0;
    left: 0;
}

nav {
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 25px;
            font-size: 1em;
            @extend %abel;
            text-transform: uppercase;
            letter-spacing: 2px;
            a {
                text-decoration: none;
                color: $base-color;
            }
        }
    }
}
.hero-image {
    display: block;
    margin: 0 auto;
}

/* SECTION: Upcoming */
#upcoming {
    margin-top: 80px;
    padding: 30px 0;
    background: white;
    .section-title {
        margin-top: -50px;
    }
    h1 {
        text-transform: uppercase;
        font-style: italic;
        @extend %didot;
        font-size: 50px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 5px;
        line-height: 1em;
        + p {
            text-align: center;
        }
    }
    aside {

        .date, .time {
            @extend %abel;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1em;
            margin: 0;
        }
        address {
            margin-top: 20px;
            font-style: italic;
            font-size: 1em;
            a {
                color: $base-color;
                text-decoration: none;
            }
        }
    }
    section, footer {

    }
    section {
        p {
            @extend %didot;
            font-size: 22px;
            line-height: 1.3em;
            &:first-of-type {
                margin-top: 0;
            }
        }
    }
    footer {
        h3 {
            @extend %didot;
            font-style: italic;
        }
        p {
            @extend %abel;
        }
    }
}

/* SECTION: About */
#about {
    margin-top: 60px;
    section {
        p {
            font-size: 24px;
            line-height: 1.3em;
            em {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    aside {
        ul {
            list-style: none;
            padding: 0;
            li {
                line-height: 1em;
                margin-bottom: 10px;
                @extend %abel;
                text-transform: uppercase;
                letter-spacing: 1px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

/* SECTION: Past Speakers */
#past-speakers {
    margin-top: 120px;
    ul {
        list-style: none;
        padding: 0;
        li {
            @extend %didot;
            text-transform: uppercase;
            font-size: 20px;
            font-style: italic;
            letter-spacing: 1px;
            margin-bottom: 10px;
            line-height: 1em;
            span {
                font-style: normal;
                text-transform: none;
                @extend %abel;
                font-size: 16px;
                letter-spacing: normal;
                margin-left: 5px;
            }
            a {
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 1px;
            }
        }
    }
}



/* Footer */
.footer-container {
    margin-top: 200px;
    div.img {
        display: block;
        margin: 0 auto;
        padding: 40px;
        background: white;
        border-radius: 50%;
        width: 120px;
        height: 120px;

    }
    p {
        text-align: center;
        @extend %abel;
    }
}



/* ==============
    MOBILE: Menu
   ============== */



/* ==============
    MOBILE: Main
   ============== */

.main {
}

.main article h1 {
}

.main aside {

}

.footer-container footer {

}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 600px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    #upcoming {
        aside {
            width: 30%;
            float: left;
        }
        section, footer {
            width: 70%;
            float: right;
            padding-left: 40px;
        }
    }

    #about {
        margin-top: 60px;
        section {
            width: 80%;
            float: left;
        }
        aside {
            width: 20%;
            float: right;
            padding-left: 40px;
        }
    }

    #past-speakers {
        ul {
            width: 50%;
            float: left;
            &:last-of-type {
                padding-left: 40px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {

    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        
    }

    nav {
        
    }

/* ============
    WIDE: Main
   ============ */

    .main article {

    }

    .main aside {

    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 800px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}